<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>London Job Board</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Parkinsans:wght@300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

</head>
<!-- Top  -->
<body>
<header>
    <nav class="nav-bar-one">
        <ul class="jcb-nav-links">
           
            <li class="jcb-link"> <a> Jobs</a></li>
     
            <li class="jcb-link"> <a> Companies</a></li>
     
            <li class="jcb-link"> <a> Blog</a></li>
     
        </ul>
    </nav>
    <nav class="nav-bar-two">
        <ul class="cr-nav-links">
            <li><a href="/auth/candidate-sign-up" class="candidate-nav-link">Candidate</a></li>
            <li><a href="/auth/recruiter-sign-up" class="recruiter-nav-link">Recruiter</a></li>
        </ul>
    </nav>
</header>
<section class="top-front-page-section">
<h1 class="h1-title">London Job Board</h1>
<h2 class="h2-sub-title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo, ab. Quos nam vero quam exercitationem molestias error qui, amet quidem, illo, sunt repellendus harum illum laborum dolorem dolore sed et?</h2>
<img class = "river-img"src ="images/lu_river.png" alt="river">


<div class="search-div">
<form  class="search-form"role="search">
    <label for="search"></label>
    <input class ="search-input"id="search" type="search" placeholder="Search..." autofocus required />
    <button class= "sign-up-button" type="submit">Go</button>    
  </form>
</div>


</section>
<div class = "titles-examples">
    <ul class="job-titles">
        <li class="job-title">Senior Software Engineer</li>
        <li class="job-title">Backend Engineer</li>
        <li class="job-title">Junior Developer </li>
        <li class="job-title">UI Designer</li>
        <li class="job-title">Data Specialist</li>
    </ul>
</div>
<!-- Middle  -->
<h2 class = "featured-companies-title">Featured Companies</h2>
<section class="featured-companies">
<div class="featured-company">
  <img></img>
</div>
<div class="featured-company">
    <img></img>
  </div>
 <div class="featured-company">
    <img></img>
  </div>
  <div class="featured-company">
    <img></img>
  </div>
</section>

<h2 class="latest-jobs-title">Latest Jobs</h2>
<section class="latest-jobs">

    <div class="job-card">
        <div class="details">
          <a href="#">Software Engineer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>


    <div class="job-card">
        <div class="details">
          <a href="#">Junior Developer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

    <div class="job-card">
        <div class="details">
          <a href="#">Lead Engineer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

    <div class="job-card">
        <div class="details">
          <a href="#">Senior Backend Developer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

    <div class="job-card">
        <div class="details">
          <a href="#">Cyber Security Specialist</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

    <div class="job-card">
        <div class="details">
          <a href="#">Data Scientist</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

      <div class="job-card">
        <div class="details">
          <a href="#">Software Engineer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>


      <div class="job-card">
        <div class="details">
          <a href="#">Senior Backend Developer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

      <div class="job-card">
        <div class="details">
          <a href="#">Junior Developer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>

    <div class="job-card">
        <div class="details">
          <a href="#">Lead Engineer</a>
          <span class="info">Company</span>
          <p class="description">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Provident rerum dolorum laborum amet! Reiciendis natus atque impedit, quo pariatur exercitationem molestiae nesciunt nihil, ratione consectetur repellendus dolore ullam in tenetur.</p>
          <div class="tags-div">
          <span class="tags">£70k-£80k</span>
          <span class="tags">Hybrid</span>
          <span class="tags">Full-Time</span>
          <span class="tags">London</span>
        </div>
        </div>
        <button class="view-btn">View</button>
      </div>
  

</section>

<!-- Bottom  -->
<section class="blog-posts">
    <h2>BLOG POSTS</h2>
    <div class="post-container">
      <div class="post-card">
        <div class="post-image"></div>
        <h3>Lorem Ipsum has been text ever since?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It to make a type specimen book. It has survived not only five.</p>
        <button class="read-more">Read More</button>
      </div>
      <div class="post-card">
        <div class="post-image"></div>
        <h3>Lorem Ipsum has been text ever since?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It to make a type specimen book. It has survived not only five.</p>
        <button class="read-more">Read More</button>
      </div>
      <div class="post-card">
        <div class="post-image"></div>
        <h3>Lorem Ipsum has been text ever since?</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. It to make a type specimen book. It has survived not only five.</p>
        <button class="read-more">Read More</button>
      </div>
     
      
    </div>
    <button class="view-all-blogs">View All Blogs</button>
  </section>

<footer class="footer">

</footer>
</body>

</html>